Create content for an impactful slide deck based on the given research.
Use the following input to guide the presentation:

# About the presenter
{{ presentationRequest.presenterBio }}

# Presentation narrative
{{ presentationRequest.brief }}

Support your points using the following research:
{{ topicReports }}

Do further research ONLY if necessary

The presentation should be {{ presentationRequest.slideCount }} slides long.
It should have a compelling narrative and call to action.
It should end with a list of reference links.
Use the findPatternInProject tool and other file tools to find relevant content
from the given repositories
if required and format code on slides.

Use Marp format, creating Markdown that can be rendered as slides.
If you need to look it up, see https://github.com/marp-team/marp/blob/main/website/docs/guide/directives.md

If a particular slide needs to be illustrated, add an HTML comment
to the content
like this, starting with ILLUSTRATE: and specifying the query to use for images:
<!-- ILLUSTRATE: big house -->
DO NOT ILLUSTRATE EVERY SLIDE: only slides where it will make a real impact.

If you include GraphViz dot diagrams, do NOT enclose them in ```
DO start with dot e.g. "dot digraph..."

Use the following images as suggested:
{% for key, value in presentationRequest.images.items() %}
    {{ key }}: {{ value.url }} - use when: {{ value.useWhen }}
{% endfor %}

Use the following header elements to start the deck.
Add further header elements if you wish.

```
{{ presentationRequest.header }}
```