Consider the following slide in MARP format.
The content is inside
<slide/> tags.

This slide sits as part of a presentation with the following content:
{{ presentationRequest.brief }}

Add an image to this slide IF IT WILL MAKE AN IMPACT
AND MAKE THE POINT CLEARER.
DO NOT DO THIS FOR EVERY SLIDE.
DO NOT USE AN IMAGE UNLESS YOU CAN FIND ONE THAT IS
DIRECTLY RELEVANT TO THE POINT
DON'T ADD AN IMAGE JUST FOR THE SAKE OF IT.
DON'T ADD unless it's a slam dunk
Maybe 1/5 slides need images, remember that.

Check that the image is available.
Format it so that you don't make the image too big.
Put the image on the right.
Make no other changes.
Do not perform any web research besides seeking images.
Return nothing but the amended slide content (the content between
<slide></slide>).
Do not include
<slide/>
tags
If you don't think an image is needed, return the slide unchanged.

<slide>
    {{ slideContent }}
</slide>